@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'bebas';
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;}

header{
    height: 300px;
    background-image: linear-gradient(to top,#063D1E, #2FA866, #3DDC84) ;
    font-family: 'bebas';
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin: -8px;}

header > p{
    font-family: 'Arial';
    font-size: 1em;}
nav{
    background-color:#063D1E;
    height: 30px;
    margin: -8px;
    
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}
a:hover{
    color: #3DDC84;
    border-color: #3DDC84;
}
main{
    background-color: #3DDC84;
    margin: -8px;}
article{
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;}
h2, h3{
    font-family: 'idroid';
    color:#063D1E;}
h3{
    background-image: linear-gradient(to right,#40e98c8c, #3ddc8505);
}
h4{
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    color: white;
}
aside{
    background-color: #3ddc84;
    margin-top: 0px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;}
footer{
    background-color: #063D1E;
    color: white;
    text-align: center;
    margin-top: 10px;
}
